<div class="cc_text base-sm">
  {% if shop.locale == 'es' %}
    {% if product.handle == 'try-out-box' %}
        Miel, cereza, vainilla, coco, fresa, menta, chocolate y sandía 
    {% elsif product.handle == 'spf-try-out-box' %}
        Miel, cereza, coco y fresa 
    {% elsif product.handle == 'red-fruits-pack' %}
        Fresa, cereza y sandía    
    {% elsif product.handle == 'favourites-pack' %}
        Miel, Sandía, Fresa, Cereza y Vainilla    
    {% elsif product.handle == 'classic-pack-1' %}
        Miel, fresa, chocolate y cereza
    {% elsif product.handle contains 'yellow-applicator-set' %}
        Combina tu bálsamo con un aplicador especial amarillo
    {% elsif product.handle contains 'red-applicator-set' %}
        Combina tu bálsamo con un aplicador especial rojo
    {% elsif product.handle contains 'pink-applicator-set' %}
        Combina tu bálsamo con un aplicador especial rosa
    {% elsif product.handle contains 'white-applicator-set' %}
        Combina tu bálsamo con un aplicador especial blanco
    {% elsif product.handle contains 'clear-applicator-set' %}
        Combina tu bálsamo con un aplicador especial transparente
    {% elsif product.handle contains 'brown-applicator-set' %}
        Combina tu bálsamo con un aplicador especial marrón
    {% elsif product.handle contains 'blue-applicator-set' %}
        Combina tu bálsamo con un aplicador especial azul
      
    {% elsif product.handle contains 'applicators' %}
        ¡Nunca más te quedes sin aplicadores! 
    {% endif %}
  {% else %}
    {% if product.handle == 'try-out-box' %}
        Honey, Cherry, Vanilla, Coconut, Strawberry, Mint, Chocolate and Watermelon 
    {% elsif product.handle == 'spf-try-out-box' %}
        Honey, Cherry, Coconut and Strawberry  
    {% elsif product.handle == 'red-fruits-pack' %}
        Strawberry, Cherry and Watermelon    
    {% elsif product.handle == 'favourites-pack' %}
        Honey, Watermelon, Strawberry, Cherry and Vanilla    
    {% elsif product.handle == 'classic-pack-1' %}
        Honey, Cherry, Strawberry and Chocolate
    {% elsif product.handle contains 'yellow-applicator-set' %}
        Match your balm with a special, yellow applicator 
    {% elsif product.handle contains 'red-applicator-set' %}
        Match your balm with a special, red applicator
    {% elsif product.handle contains 'pink-applicator-set' %}
        Match your balm with a special, pink applicator
    {% elsif product.handle contains 'white-applicator-set' %}
        Match your balm with a special, white applicator
    {% elsif product.handle contains 'clear-applicator-set' %}
        Match your balm with a special, clear applicator 
    {% elsif product.handle contains 'brown-applicator-set' %}
        Match your balm with a special, brown applicator
    {% elsif product.handle contains 'blue-applicator-set' %}
        Match your balm with a special, blue applicator 
    
    {% elsif product.handle contains 'applicators' %}
        Never run out of applicators again! 
    {% endif %}
  {% endif %}
</div>
